@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
}

.no-padding {
    padding: 0;
}

#logo {
    width: 1.5rem;
}

 #welcome-text {
    background-image: url('../assets/home-bg.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh; 
 } 

 #welcome-img {
     width: 100vw;
 }

#meals-display-bg {
    background-image: url('../assets/meals-bg.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh; 
}

.bg-beige {
    background-color: beige;
}

#hungry {
    background-image: url('../assets/hungry-bg.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

#meals-display-bg, #reviews-display-bg{
    min-height: 40vh;
}

#reviews-display-bg {
    background-image: url('../assets/reviews-bg.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh; 
}

.to-the-center {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#line-between-meals {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:rgba(36, 36, 34, 0.609);
    height: 1px;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}


